<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.prodatadoctor.CoolStickyNotes">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Spalsh"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".StickyNotesEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".ToDoEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".NotepadEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".DataBackUpActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".BackupActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".DataRestoreActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".AboutUs"
            android:screenOrientation="portrait" />

        <activity
            android:name=".GiftsAndOffers"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TechnicianActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".Notifications.Receivers.MyAlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".Notifications.Receivers.FirstRunReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".Notifications.Receivers.DeviceBootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" /> <!-- for htc devices -->
            </intent-filter>
        </receiver>


        <receiver
            android:name=".MinuteElapseReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.TIME_TICK"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/appid" />


    </application>

</manifest>